* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-gray: hsl(0, 0%, 45%);
}

body {
  background-color: black;

  width: 100vW;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: sans-serif; 
  font-size: 1.5rem;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 10%;
  transform: translateY(10%);
}

img {
  margin-bottom: 3rem;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 2rem;
}

input,
button {
  padding: 1.5rem;
  border-radius: 0.9rem;

  font-size: 1.5rem;
}

input {
  color: var(--color-gray);

  border: none;
}

input:focus {
  outline: 2px solid blueviolet;
}


button {
  background-color: blueviolet;
  color: white;

  transition: filter 0.3s;

  margin-bottom: 3rem;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

#containerAnswer {
  color: white;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  transition: opacity 1s;
}

#question {
  text-align: center;
  font-weight: 500;
  font-size: 1.7rem;

  color: var(--color-gray);
}

/* ========== SWALL ========== */
.swal-modal {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.swal-overlay--show-modal .swal-modal {
  animation: showSweetAlert .500ms;
}

.swal-button {
  background-color: blueviolet;

  border-radius: 0.8rem;
}

.swal-button:not([disabled]):hover {
  background-color: blueviolet;
  filter: brightness(1.1);
}

.swal-icon--warning__body, 
.swal-icon--warning__dot {
  background-color: blueviolet;
}

.swal-icon--warning {
  border-color: blueviolet;
  -webkit-animation: none;
  animation: none;
}
